@model Jazzima1.Models.Album


@{
    ViewData["Title"] = "Details";
}


<h1>Details</h1>

<div>
    <h4>Album</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ReleaseDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ReleaseDate)
        </dd>
        <td>
            <img class="img-thumbnail" style="max-width: 300px;" src="@Model.Image" alt="" />
        </td>
        @foreach (var item in Model.MusicianAlbums)
        {
            <dd class="col-sm-10">
                <strong>
                    @Html.DisplayFor(modelitem => item.Musician.Name)
                </strong>
            </dd>
            <dd class="col-sm-10">
                @Html.DisplayFor(modelitem => item.Musician.Instrument)
            </dd>
        }
        <div>
        <dt class="col-sm-2">
            Comments:
        </dt>
        <div>
            @foreach (var item in Model.Comments)
            {
                @if (item.ApplicationUser.FirstName != null)
                {
                    @item.ApplicationUser.FirstName
                }
                <dd class="col-sm-10">
                    @Html.DisplayFor(modelItem => item.Content)
                </dd>
            }
        </div>
      </div>
    </dl>
</div>

<div>

        <h4>Comments</h4>

        <dl class="row">

            @foreach (var item in Model.Comments)

            {

                <dt class="col-sm-10">

                    @Html.DisplayNameFor(modelItem => item)

                </dt>

                <dd class="col-sm-10">

                    @Html.DisplayFor(modelItem => item)

                </dd>

            }

            </d1>

    </div>

<div>
    <a asp-action="Create" asp-route-id="@Model.Id" asp-controller="Comments">
        <input class="btn btn-success" type="submit" value="Add a Comment" />
    </a>
    <a asp-action="Edit" asp-route-id="@Model.Id" asp-controller="Comments">
        <input class="btn btn-success" type="submit" value="Edit a Comment" />
    </a>
    <a asp-action="Index">Back to List</a>
</div>

@*<div class="card mb-3" style="max-width: 840px;">
  <div class="row no-gutters">
      <div class="col-md-4">
          <div>
          <img class="img-thumbnail" style="max-width: 300px;" src="@Model.Image" alt="an album picture" />
          </div>
      </div>
    <div class="col-md-8">
      <div class="card-body">
          <h5 class="card-title"> @Html.DisplayFor(model => model.Title)</h5>
          <p class="card-text">
              <div>
                  @Html.DisplayNameFor(model => model.ReleaseDate)
              </div>
              <div>
                  @Html.DisplayFor(model => model.ReleaseDate)
              </div>
              <p>
              @foreach (var item in Model.MusicianAlbums)
              {
                  <dd class="col-sm-10">
                      <strong>
                          @Html.DisplayFor(modelitem => item.Musician.Name)
                      </strong>
                  </dd>
                  <dd class="col-sm-10">
                      @Html.DisplayFor(modelitem => item.Musician.Instrument)
                  </dd>
              }
                </p>
          </p>
      </div>
    </div>
</div>*@