@model IEnumerable<Jazzima1.Models.SavedAlbum>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    @*<thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Album.Image)
            </th>
            <th></th>
        </tr>
    </thead>*@
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                <img class="img-thumbnail" style="max-width: 150px;" src="@item.Album.Image" alt="" />
                <form asp-action="Details" asp-route-id="@item.Id" asp-controller="Albums">
                    <input class="btn btn-success" type="submit" value="Details" />
                </form>
                <form asp-action="Delete" asp-route-id="@item.Id">
                    <input class="btn btn-warning" type="submit" value="Delete" />
                </form>
            </td>
            @*<td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>*@
        </tr>
}
    </tbody>
</table>
